body{
    margin: 0;
}
#menuContainer{
    height: 60px;
    width: 100%;
    background-color: #1D315E;
}
#menuList{
    list-style-type: none;
    padding-top: 18px;
    font-size: 20px;
    color: white;
    text-align: center;
}
#menuList li{
    display: inline;
    text-align: center;
    border:1px solid white;
    padding: 23px 20px 14px 20px;
    transition:background-color 1s ease-in-out;
    font-family:consolas;
}
#menuList li:hover {
    background-color: #0A1B40;
}
#menulist li a {
    text-decoration:none;
    color:whitesmoke;
    font-family:consolas;
    font-size:19pt;
}
#menuList li:first-of-type{
    margin-left: 0
}
#loginForm {
    display:none;
    position: absolute;
    border:2px solid grey;
    background-color: #1D315E;
    text-align: center;
    left: 790px;
    top: 59px;
    font-family:consolas;
    color:white;
}
#loginForm input {
    border:none;
    display: block;
    margin:0 auto;
}
#loginForm #loginSend {
    background-color:white;
}
#error {
    color:red;
    font-family:"Times New Roman";
}
#regButt {
    text-decoration:none;
    color: green;
    text-align: center;
    font-family:consolas;
}
#regForm {
    border:2px solid red;
    background-color:#0A1B40;
}
#regForm input {
    border:none;
}
#container .img {
    width: 356px;
    display: inline-block;
}
#container .img img {
    width:270px;
}
#container .img p {
    text-align: center;
    font-family:consolas;
}

.rating{
    width: 124px !important;
    height: 25px !important;
    overflow: hidden;
}
.rating img{
    width: 124px !important;
    height: 25px !important;
}
.ratingFull{
    overflow: hidden;
}
.ratingEmpty{
    position: relative;
    top: -25px;
    width: 100px;
}
