body{
    margin: 0;
    background-image: url("/images/backgr.jpg");
    background-repeat:repeat;
}
#menuContainer{
    height: 60px;
    width: 100%;
    background-color: #1D315E;
}
#menuList{
    list-style-type: none;
    font-size: 20px;
    color: white;
    text-align: center;
}
#menuList li{
    height: 28px;
    display: inline-block;
    text-align: center;
    border:1px solid white;
    border-top: none;
    border-bottom: none;
    padding: 18px 20px 14px 20px;
    transition:background-color 1s ease-in-out;
    font-family:consolas;
    color:whitesmoke;
    font-size:19pt;
    cursor: pointer;
}
#menuList li:hover {
    background-color: #0A1B40;
}
#menulist li a {
    color:whitesmoke;
    text-decoration:none;
}
#menuList li:first-of-type{
    margin-left: 0
}
#loginForm {
    display:none;
    position: absolute;
    border:2px solid grey;
    border-top: none;
    background-color: #1D315E;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    left: 415px;
    right: 0px;
    top: 59px;
    font-family:consolas;
    color:white;
}
#loginForm input {
    border:none;
    display: block;
    margin:0 auto;
}
#loginForm #loginSend {
    background-color:white;
}
#error {
    color:red;
    font-family:"Times New Roman";
}
#regButt {
    text-decoration:none;
    color: green;
    text-align: center;
    font-family:consolas;
}
#regForm {
    border:2px solid #948c8c;
    background-color:#0A1B40;
    color: white;
    display: block;
    margin: 0 auto;
    width: 290px;
    height: 210px;
    text-align: center;
    font-family:Consolas;
    border-radius: 10px;
}
#regForm input {
    border:none;
    margin:12px;
    barder-radius:12px;
}
#container .img {
    width: 271px;
    display: inline-block;
    margin-right: 25px;
}
#container .img img {
    width:270px;
}
#container .img p {
    text-align: center;
    font-family:consolas;
}

.ratingText{
    display: inline-block;
}

.rating{
    width: 124px !important;
    height: 25px !important;
    overflow: hidden;
    display:inline-block;
}
.rating img{
    width: 124px !important;
    height: 25px !important;
}
.ratingFull{
    overflow: hidden;
}
.ratingEmpty{
    position: relative;
    top: -25px;
    width: 100px;
}
.ratingNum {
    width: 41px;
    display: inline-block;
}
#errorMessage {
    color:red;
    font-family:Consolas;

}
