body{
    margin: 0;
}
#menuContainer{
    height: 60px;
    width: 100%;
    background-color: #34495e;
}

#menuList{
    list-style-type: none;
    padding-top: 18px;
    font-size: 20px;
    color: white;
    text-align: center;
}
#menuList li{
    margin-left: 30px;
    display: inline;
    text-align: center;
    border:1px solid white;
    padding:13px;
    padding:13px;
}
#menulist li a {
    text-decoration:none;
    color: black;
    font-family:consolas;
    font-size:19pt;


}
#menuList li:first-of-type{margin-left: 0}
