body{
    margin: 0;
}
#menuContainer{
    height: 60px;
    width: 100%;
    background-color: #34495e;
}

#menuList{
    list-style-type: none;
    padding-top: 18px;
    font-size: 20px;
    color: white;
    text-align: center;
}
#menuList li{
    display: inline;
    text-align: center;
    border:1px solid white;
    padding: 23px 20px 14px 20px;
    transition:background-color 1s ease-in-out;
}
#menuList li:hover {
    background-color: #0A1B40;
}
#menulist li a {
    text-decoration:none;
    color:whitesmoke;
    font-family:consolas;
    font-size:19pt;


}
#menuList li:first-of-type{
    margin-left: 0
}
#loginForm {
    display:none;
}
